.popup-edit__button {
  margin: 22px 0 0 0;
  padding: 0;
  width: 100%;
  height: 50px;
  background-color: #000;
  border-radius: 2px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.popup-edit__button:hover {
  opacity: 0.8;
}

@media (max-width: 730px) {
  .popup-edit__button {
    width: 238px;
    min-height: 46px;
    margin-top: 15px;
    font-size: 14px;
    line-height: 17px;
  }
}