.profile {
  margin: 0 auto;
  max-width: 880px;
  display: grid;
  grid-template-columns: 120px 1fr 150px;
  padding-top: 36.25px;
  box-sizing: border-box;
}


@media (max-width: 1279px) {
  .profile {
    margin: auto;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 730px) {
  .profile {
    padding-top: 38px;
    flex-direction: column;
    position: relative;
    align-items: center;
  }
}