.profile__edit-avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 26px;
    height: 26px;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s;
  }

.profile__avatar:hover .profile__edit-avatar {
    opacity: 1;
    /* Появление иконки редактирования */
}